<!DOCTYPE html>
<html>
<head>
    <title>{% block page_name %}{{ page_name }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="page-wrapper">
        <div class="navbar-custom">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            <a class="nav-link" href="{{ url_for('all_pages') }}">Pages</a>
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
        </div>

        {% if page_content %}
        <div class="home-card">
            <div class="default-content">
                {{ page_content }}
            </div>
        </div>
        {% endif %}

        {% block content %}{% endblock %}
    </div>
</body>
</html>